#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1:hover {
  filter: drop-shadow(0 0 2em #8086ffee);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  transition: 0.3s ease-in-out;
  margin: 1rem
}

#interface {
  display: flex;
  justify-content: space-between;
}

#interface > div {
  width: 50%;
  height: 100%;
}

#userMath {
  width: 50%;
}
